@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* 
font weight 600/90 */

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
}

header {
  background: url(./images/pattern-circles.svg), #f1f5fe;
  background-position: center top 56px;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
  padding: 89px 25px 0;
  height: 400px;
  border-radius: 0px 0px 0px 191.5px;
}
h1 {
  width: 326px;
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: #293356;
}

.main-p {
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color: #848ead;
}

main {
  display: flex;
  justify-content: center;
}

#card {
  position: relative;
  top: -236px;
  background-color: #ffffff;
  box-shadow: 0px 20px 30px -5px #7f89b927;
  border-radius: 8px;
  width: 327px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 24px 32px 24px;
}
#page-reviews {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 1.7142857313156128px;
  text-align: center;
  color: #848ead;
}

#range {
  -webkit-appearance: none;
  width: 279px;
  height: 8px;
  background-color: #ecf0fb;
  border-radius: 20px;
  position: relative;
  width: 279px;
  margin-top: 41px;
}

#range::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  background: rgba(164, 243, 235, 1);
  width: var(--progress-width);
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: rgba(16, 216, 196, 1);
  box-shadow: 0px 15px 30px 0px #00ffe799;
  border-radius: 50%;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#range::-webkit-slider-thumb:hover {
  background-color: rgba(122, 234, 223, 1);
}

#range::-moz-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: rgba(16, 216, 196, 1);
  box-shadow: 0px 15px 30px 0px #00ffe799;
  border-radius: 50%;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* #range::-webkit-slider-runnable-track {
  background: rgba(164, 243, 235, 1);
  height: 8px;
  border-radius: 20px;
} */

#range::-moz-range-track {
  height: 8px;
  background: rgba(164, 243, 235, 1);
  border-radius: 20px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  margin-top: 34px;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.800000011920929px;
  text-align: right;
  color: #293356;
}
.price span {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #848ead;
}

.billing {
  display: flex;
  gap: 12px;
  position: relative;
  margin-top: 34px;
}
#billing-span {
  position: absolute;
  right: -47px;
  top: 2px;
}

#billing-span {
  font-size: 10px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  color: #ff8d68;
  background-color: #feede8;
  /* width: 41px;
  height: 19px; */
  border-radius: 20px;
  padding: 2px 8px 3px 7px;
}

#divider {
  width: 327px;
  height: 1px;
  background-color: #ecf0fb;
  margin-top: 38px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 24px;
}

li {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: #848ead;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

button {
  padding: 12px 46px 13px;
  border-radius: 40px;
  border: none;
  background-color: #293356;
  color: #becdff;
  margin-top: 32px;
}

input[type="checkbox"].toggle {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #848ead;
  cursor: pointer;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 43px;
  height: 22px;
  background: #cfd8ef;
  border-radius: 1em;
  margin-right: 12px;
  /* transition: background-color 200ms ease-in-out; */
}

input[type="checkbox"].toggle + label::after {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 4px;
  background: #ffffff;
  border-radius: 50%;
  /* transition: background-color 200ms ease-in-out, transform 200ms ease-in-out; */
}

.input[type="checkbox"].toggle:checked + label::after {
  transform: translateX(
    29px
  ); /* Adjust this value based on the size of your switch */
}

input[type="checkbox"].toggle:checked + label::before {
  background: #7aeadd; /* The new background color for the track */
}

/* input[type="checkbox"].toggle:checked + label::before {
  background: #7aeadf;
}

input[type="checkbox"].toggle:checked + label::after {
  content: "";
  transform: translateX(150%);
} */
